.projects__header{
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}

.projects__header--font{
    font-size: 4rem;
    font-family: var(--header-font);
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.project__content{
    display: flex;
    background-image: url("../../assets/projectimages/portfoliowebsite.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 700px;
    color: var(--text-color);
}

.project__container, .project__slider{
    flex: 1;
}


.project__container{    
    margin-inline: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project__name{
    font-size:4.5rem;
    font-family: var(--header-font);
    font-weight: bold;
}

.project__description{
    font-size: 1.25rem;
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
}

.project__description > *{
    margin-top: 5%;
}

.description__button > button{
    margin-inline: 2.5%;
}

.slider__grid{
    display: flex;
}

.slider__grid > * {
    justify-content: center;
    margin-inline: 1%;
}

.project__content > * {
    flex: 1 ;
}

.project__slider{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 12.5%;
}

.navigation__arrow{
    display: flex;
    margin-top: 5%;
}

.arrow__right, .arrow__left{
    margin-inline: 1%;
}

.grid__one,.grid__two{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid__one > img, .grid__two > img{
    width: 300px;
    height: 175px;
    object-fit: cover;
}

@media only screen and (max-width: 1024px){
    .projects__header--font{
        font-size: 2.5rem;
    }

    .project__name{
        font-size: 3rem;
    }

    .project__description{
        font-size: 1rem;
    }
    
    .grid__two > img{
        display: none;
    }
    .description__button > button {
        font-size: 1.25rem;
    }

    .grid__one > img{
        width: 225px;
        height: 130px;
        object-fit: cover;
    }

    .project__content{
        background-image: none;
    }

    .project__slider{
        justify-content: center;
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 650px){
    .grid__one{
        display: none;
    }

    .project__slider{
        justify-content: center;
    }

    .project__container{
        flex-basis: 70%;
    }

    .project__slide{
        margin-right: 2.5%;
    }
}