
.navbar {

    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1%;
}

.navbar > * {
    flex: 1;
}

.navbar--background{
    background: var(--background-color);
}

.navbar__left--font{
    color: var(--text-color);
    font-size: 3.5rem;
    font-family: var(--header-font);
    font-weight: bolder;
}

.navbar__left{
    display: flex;
    justify-content: left;
    align-self: center;
    margin-left: 5%;
}

.navbar__right{
    position: fixed;
    right: 0px;
    z-index: 1000;
    width: 60%;
    background-color: rgba(255,255,255,0.05);
    padding-inline: 2.5%;
    padding-block: 0.5%;
    font-family: var(--text-font);
}

.navbar__right-links{
    display: flex;
    align-content: center;
    justify-content: center;
}


.navbar__right-links > *{
    flex: 1
}

.navbar__right--font{
    color: var(--text-color);
    font-size: 1.5rem;
}

.navbar__link{
    display: flex;
}
.navbar__icon{
    flex: 0 0 auto;
    width: 30px;
    object-fit:  contain;
}
.navbar__link__caption{
    display: flex;
    flex: 1;
    margin-left: 3%;
    align-items: center;
}

.navbar__contact{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    text-align: center;
    padding: 5px;
}

.navbar__menu, .navbar__hamburger_icon{
    display: none;
}

/* Adding a hamburger icon for tablet screens or lower*/

@media only screen and (max-width: 1024px){
    
    .navbar__left{
        margin-left: 2.5%;
    }
    .navbar__right-links{
        display: none;
    }

    .navbar__link__caption, .navbar__contact{
        margin-block: 5%;
    }

    .navbar__menu{
        display: block;
        background-color: black;
        border-radius: 20px;
        padding: 5%;
    }

    .navbar__mobile-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar__close_icon{
        display: flex;
        justify-content: flex-end;
    }

    .navbar__hamburger_icon{
        display: flex;
        justify-content: flex-end;
    }

    .navbar__right{
        background-color: transparent;
        width: 30%;
        margin-right: 2%;
    }
  
}



.navbar__right-links > * {
    transition: var(--hover-transition);
}

.navbar__icon{
    transition: var(--navbar-text-hover-transition);
}

.navbar__right-links > *:hover{
    font-size: 2rem ;
    .navbar__icon{
        transform: var(--icon-hover-transition);
    }
}





