
.navbar {
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    top: 0;
    padding-top: 1%;
}

.navbar > * {
    flex: 1;
}

.navbar--background{
    background: var(--background-color);
}

.navbar__left--font{
    color: var(--text-color);
    font-size: 3.5rem;
    font-family: var(--header-font);
    font-weight: bolder;
}

.navbar__left{
    display: flex;
    justify-content: left;
    align-self: center;
    margin-left: 5%;
}

.navbar__right{
    position: absolute;
    right: 0px;
    z-index: 1000;
    width: 60%;
    justify-content: right;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.05);
    padding-inline: 2.5%;
    padding-block: 0.5%;
    font-family: var(--text-font);
}

.navbar__right > *{
    flex: 1
}

.navbar__right--font{
    color: var(--text-color);
    font-size: 1.5rem;
}

.navbar__link{
    display: flex;
}
.navbar__icon{
    flex: 0 0 auto;
    width: 30px;
    object-fit:  contain;
}
.navbar__link__caption{
    display: flex;
    flex: 1;
    margin-left: 3%;
    align-content: center;
}

.navbar__contact{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    text-align: center;
    padding: 5px;
}

.navbar__menu, .navbar__hamburger_icon{
    display: none;
}


@media screen and (max-width: 950px){
    .navbar__link{
        display: none;
    }

    .navbar__contact{
        display: none;
    }

    .navbar__menu{
        display: block;
    }

    .navbar__hamburger_icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

  
}



.navbar__right > * {
    transition: var(--hover-transition);
}

.navbar__icon{
    transition: var(--icon-hover-transition);
}

.navbar__right > *:hover{
    font-size: 2rem ;
    .navbar__icon{
        transform: rotate(215deg) scale(1.25);
    }
}





