
.navbar {
    position: sticky;
    display: flex;
    justify-content: center;
}

.navbar--background{
    background: white;
    border: 5px solid black;
}

.navbar--font{
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

.navbar__left--font{
    color: var(--text-color);
    font: var(--logo-font);
    text-decoration: underline;
    font-size: 40px;
}

.navbar > * {
    flex: 1;
    padding: 1rem 3rem;
}

.navbar__menu, .navbar__right{
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar__left{
    display: flex;
    align-items: center;
}

.nav__listItem{
    padding: 0.5rem 1.5rem;
}
