.projects__header{
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}

.projects__header--font{
    font-size: 4rem;
    font-family: var(--header-font);
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.project__content{
    background-image: url(../../../assets/projectimages/portfoliowebsite.png);
    background-size: cover;
    height: 800px;
}