.projects__header{
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}

.projects__header--font{
    font-size: 4rem;
    font-family: var(--text-font);
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.projects__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    margin-top: 3rem;
    gap: 2rem;
    margin-inline: 5%;
}

.projects__grid > *{
    height: 400px;
    background-color: var(--project-grid-primary-color);
    border-radius: 25px;

}

.grid__two{
    background-color: var(--project-grid-secondary-color);
}

.projects__grid > * > img{
    width: 90%;
    height:auto;
    margin-inline: 5%;
    margin-top: 5%
}