.about--positioner{
    display: flex;
    align-items: center;
    height: 100vh;
}

.about__card{
    display: flex;
    justify-content: space-evenly;
    color:white;
}

.about__icon{
    background-color: #242323;
    border-radius: 50%;
    padding: 5rem;
    
}

.about__information{
    display: flex;
    align-items: center;
}