.about--positioner{
    display: flex;
    align-items: center;
    height: 100vh;
}

.about__card{
    margin-inline: 5%;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: var(--text-font);
    font-size: 1.5rem;

    border: 2px solid black;
    border-radius: 25px;

    display: flex;
}

.about__icon{
    flex: 1;
    margin: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about__icon--size{
    width: 100%;
}

.about__information{
    flex: 1 1 30%;

    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    margin: 2%;
}

.about__header{
    font-size: 3rem;
    font-family: var(--header-font);
    text-transform: uppercase;

    margin-block: 2%;
}

.about__left, .about__right{
    color: white;
    margin-inline: 5%;
}






