@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root{
    --font-family: "Abel", sans-serif;
    --logo-font: "Rubik",sans-serif;

    --linear-bg: linear-gradient(90deg, rgba(2, 0, 7, 1) 30%, rgba(159, 102, 205, 1) 100%);;
    
    --primary-color: #FFDE91;
    --secondary-color: #000000;
    --text-color: #000000;
    --background-color: violet;
}