@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root{
    --font-family: "Abel", sans-serif;
    --logo-font: "Rubik",sans-serif;

    --linear-bg: ;
    
    --primary-color: #FFDE91;
    --secondary-color: #000000;
    --text-color: #000000;
    --background-color: #FFDE91;
}