.about--positioner{
    display: flex;
    align-items: center;
    height: 80vh;
}

.about__card{
    margin-inline: 5%;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: var(--text-font);
    font-size: 1.5rem;

    border: 2px solid black;
    border-radius: 25px;

    display: flex;
}

.about__icon{
    flex: 1;
    margin: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about__icon--size{
    width: 100%;
}

.about__information{
    flex: 1 1 30%;

    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    margin: 2%;
}

.about__header{
    font-size: 3rem;
    font-family: var(--header-font);
    text-transform: uppercase;

    margin-block: 2%;
}

.about__left, .about__right{
    color: white;
    margin-inline: 5%;
    cursor: pointer;
}

.about__left > * :hover , .about__right > * :hover{
    opacity: 0.2;
}


.return{
    color: var(--background-color);
    background-color: var(--accent-color);
    font-family: var(--header-font);
    font-size: 2rem;
    display: block;
    padding: 0.5%;
    border-radius: 10px;
    margin: 1%;
    width: 20%;
    text-align: center;
    transition: .1s ease-in-out;
    cursor: pointer;
}

.return:hover{
    opacity: 0.8;
}


@media only screen and (max-width: 1024px){
    .about__header{
        font-size: 2rem;
    }

    .about__information{
        font-size: 1rem;
    }

    .return{
        font-size: 1.5rem;
    }

    .about__left, .about__right{
        margin-inline: 2.5%;
    }

}


@media only screen and (max-width: 650px){
    .about__icon{
        display: none;
    }

    .about__left > * , .about__right > *{
        height: 2.5rem;
    }

    .about__card{
        padding-inline: 5%;
        padding-block: 2.5%;
    }

}


@media only screen and (max-width: 650px){
    .about__left > * , .about__right > *{
        height: 1.75rem;
    }

    .about__left, .about__right{
        margin-inline: 0.5%;
    }

    .return{
        font-size: 0.75rem;
    }

    .about__card{
        margin: 0;
    }

    .about__header{
        font-size: 1.5rem;
    }

    .about__information{
        font-size: 0.75rem;
    }
}