.skills__container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
.skills{
    width: 90%;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-gap: 1.5rem;
}

.skills--font{
    font-family: var(--text-font);
    font-size: 3rem;
    
}

.skills > * {
    padding-left: 1.5rem;
}

.skills > * > img{
    display:block;
}

.skill__frontend{
    grid-column: span 2;
    background-color: var(--accent-color);
    border-radius: 20px;
}

.skill__backend{
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--text-color);
}

.skill__tools{
    background-color: var(--text-color);
    border-radius: 20px;
    color: var(--background-color);
}

.skill__other{
    grid-column: span 2;
    background-color: var(--primary-color);
    border-radius: 20px;
    color: var(--text-color);
}


.skill__header--font{
    font-size: 4rem;
    font-family: var(--header-font);
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.skill__header{
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}

.skill__header__text--font{
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 1.5rem;
}

.skill__header__text{
    text-align: center;
    margin-top: 1rem;
}


.frontend__icons, .backend__icons, .other__icons, .tools__icons{
    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem;
}

.frontend__icons > * , .backend__icons > *, .other__icons > *, .tools__icons > * {
    flex: 1;
    object-fit: none;
}

.icons{
    font-size: 1.5rem;
}

.icon__caption--positioner, .icon--positioner{
    display: flex;
    justify-content: center;
}

.icon__caption{
    text-transform: capitalize;
}

.icons__img {
    height: 75px;
	transition: .3s ease-in-out;
}

.icon__caption{
    box-shadow: inset 0 0 0 0 black;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    cursor: pointer;
}

.icon__effect:hover  + .icon__caption {
    box-shadow: inset 200px 0 0 0 black;
    color: var(--primary-color);
}

.icon__effect:hover{
    opacity: 0.8;
}

.icon__caption:hover{
    box-shadow: inset 200px 0 0 0 black;
    color: var(--primary-color);
}

.skill__backend--text, .skill__other--text{
    color: white;
    margin-block: 5%;
}

.skill__frontend--text, .skill__tools--text{
    color: black;
    margin-block: 5%;
}

@media only screen and (max-width: 1024px) {
    .skills{
        grid-template-columns: 1fr;
    }

    .skills > * {
        grid-column: span 1;
    }
}

@media only screen and (max-width: 650px){
    .frontend__icons, .backend__icons, .other__icons, .tools__icons{
        flex-direction: column;
    }

    .skill__frontend, .skill__backend, .skill__other, .skill__tools{
        margin-inline: 10%;
    }
    
    .icons__small--positioner{
        display: flex;
        flex-direction: row;
        margin-block: 10%;
    }

    .icons__img{
        margin-right: 25%;
        width: 50px;
        height: auto;
    }

    .skills--font{
        font-size: 2rem;
    }

    .icon__caption--positioner{
        margin-left: 25%;
    }

    .icons{
        font-size: 1rem;
    }

    .skill__header--font{
        font-size: 2rem;
    }

    .skill__header__text--font{
        font-size: 0.75rem;
    }
}