.skills__container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
.skills{
    width: 90%;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-gap: 1.5rem;
}

.skills--font{
    font-family: var(--text-font);
    font-size: 3rem;
    
}

.skills > * {
    padding-left: 1.5rem;
}

.skills > * > img{
    display:block;
}

.skill__frontend{
    grid-column: span 2;
    background-color: var(--accent-color);
    border-radius: 20px;

}

.skill__backend{
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--text-color);
}

.skill__tools{
    background-color: var(--text-color);
    border-radius: 20px;
    color: var(--background-color);
}
.skill__other{
    grid-column: span 2;
    background-color: var(--primary-color);
    border-radius: 20px;
    color: var(--text-color);
}


.skill__header--font{
    font-size: 4rem;
    font-family: var(--text-font);
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.skill__header{
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}

.skill__header__text--font{
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 1.25rem;
}

.skill__header__text{
    text-align: center;
    margin-top: 1rem;
}


.frontend__icons, .backend__icons, .other__icons, .tools__icons{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.frontend__icons > * , .backend__icons > *, .other__icons > *, .tools__icons > * {
    flex: 1;
    object-fit: none;
}

.icons{
    font-size: 1.5rem;
}

.icons > div{
    display: flex;
    justify-content: center;
}