.pdf{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column-reverse;
}

.annotationLayer{
    display: none;
}

.pdf__buttons{
    display: flex;
    margin: 1% 0%;
}

.pdf__buttons > *{
    flex: 1;
} 

.button__return-pdf, .button__download-pdf{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: var(--text-font);
    background-color: var(--secondary-color);
    margin-inline: 1%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}





