.experience__header{
    display: flex;
    justify-content: center;
    margin-block: 7.5%;
}

.experience__header--font{
    font-size: 4rem;
    font-family: var(--header-font);
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.experience__content{
    margin-block: 7.5%;
    background-color: var(--secondary-color);
    margin-inline: 5%;
    border-radius: 20px; 
    display: flex;
    padding: 5%;
}

.experience__content--font{
    font-family: var(--text-font);
    color: var(--text-color);
}

.internship__name{
    font-family: var(--header-font);
    font-size: 3rem;
    font-weight: bold;
}
.internship__date{
    margin-top: 5%;
    font-size: 2rem;
}
.internship__info, .internship__description{
    flex: 1;
}

.internship__description{
    font-size: 1.5rem;
    flex-basis: 40%;
    margin-inline: 5%;
}

.description__bullet--style{
    font-family: var(--header-text);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
}


@media only screen and (max-width: 1024px){
    .internship__date{
        font-size: 1.5rem;
    }

    .description__bullet--style{
        font-size:  2rem;
    }

    .internship__description{
        font-size: 1rem;
    }

    .internship__name{
        font-size: 2rem;
    }

}

@media only screen and (max-width: 650px){
    .experience__content{
        flex-direction: column;
    }

    .experience__header{
        font-size: 2rem;
    }
}